.layout-wrapper {
  min-height: 100vh;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}

.layout-main {
  padding-left: 16rem;
  padding-top: 4rem;
  min-height: 100vh;
}

.layout-content {
  padding: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
